.myslides{
    height: 300px;
    width: 300px;
}
body{
    text-align: center;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#h31{
    margin-right: 625px;
}
#h32{
   
}
#h33{
    margin-right: -620px;
   
}